@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

@font-face {
  font-family: Marthiline;
  src: url("/assets/fonts/marthiline.ttf");
  font-display: swap;
}

@import url("/styles/fontello.css");

// Base CSS Styles **DO NOT TOUCH OR MODIFY
* {
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #212121;
  // font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25);
}

body::-webkit-scrollbar-thumb {
  background-color: #c5b358;
}

a,
button {
  border: none;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: not-allowed;
  }
}

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  left: -9999px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: auto;
  white-space: nowrap;
  width: 1px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

main,
aside {
  flex-basis: 0;
  flex-grow: 1;
  padding: 3.12vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__spacer {
  min-height: 4.16vw;
  width: auto;
}

.hero__content {
  h1 {
    font-size: 4.16vw;
    font-weight: 800;
    margin: 0;

    &:last-of-type {
      color: #c5b358;
    }
  }

  p {
    font-size: 1.25vw;
  }
}

.hero__social {
  p {
    font-size: 0.83vw;
    margin: 0;
  }

  div {
    margin-left: -8px;

    a {
      font-size: 1.67vw;
      text-decoration: none;
    }
  }
}

aside {
  align-items: center;
  background: #fffff0;
  display: flex;
  justify-content: center;

  div {
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    border-radius: 2.6vw;
    padding: 2.6vw;
    box-shadow: 1.04vw 1.04vw 3.12vw #adadad, -1.04vw -1.04vw 3.12vw #ffffff;

    img {
      height: auto;
      width: 15.62vw;
    }
  }
}

@media (max-width: 1024px) {
  main,
  aside {
    padding: 5.55vw;
    padding-bottom: 10rem;
  }

  .hero__spacer {
    height: 22.22vw;
  }

  .hero__content {
    h1 {
      font-size: 6.67vw;
    }

    p {
      font-size: 3.89vw;
    }
  }

  .hero__social {
    p {
      font-size: 3.33vw;
    }

    div {
      a {
        font-size: 6.67vw;
      }
    }
  }

  aside {
    div {
      border-radius: 5.55vw;
      box-shadow: 1.38vw 1.38vw 2.78vw #adadad, -1.38vw -1.38vw 2.78vw #ffffff;
      padding: 1rem;

      img {
        width: 33.33vw;
      }
    }
  }
}

@media (min-width: 1920px) {
  main,
  aside {
    padding: 6rem;
  }

  .hero__spacer {
    min-height: 8rem;
  }

  .hero__content {
    h1 {
      font-size: 8rem;
    }

    p {
      font-size: 2.4rem;
    }
  }

  .hero__social {
    p {
      font-size: 1.6rem;
    }

    div {
      a {
        font-size: 3.2rem;
      }
    }
  }

  aside {
    div {
      border-radius: 5rem;
      padding: 5rem;
      box-shadow: 20px 20px 60px #adadad, -20px -20px 60px #ffffff;

      img {
        width: 30rem;
      }
    }
  }
}
